* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
.skin {
  background-color: rgb(224, 144, 153);
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}
body {
  position: relative;
}
#styleBox1 {
  display: none;
}
#styleBox2 {
  width: 50vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 20px;
  overflow-y: auto;
}
#styleBox2::-webkit-scrollbar {
  display: none;
}
.buttonBox {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 4;
}
.button {
  width: 60px;
  height: 30px;
  line-height: 30px;
  background-color: rgb(168, 241, 85);
  text-align: center;
  border-radius: 4px;
  margin-bottom: 8px;
  color: rgb(188, 54, 226);
  cursor: pointer;
}
@media (max-width: 500px) {
  #styleBox2 {
    width: 100vw;
    height: 40vh;
  }
  .skin {
    width: 100vw;
    height: 60vh;
    position: absolute;
    top: 40vh;
    left: 0;
  }
}
